*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #C2C2C2;
    font-weight: bold;
}

/*NAVIGATION BAR*/
.navigationBar{
    display: flex;
    position: fixed;
    height: 60px;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 1px 15px grey;
}
.textLogo{
    display: flex;
    height: 55px;
    align-items: center;
    font-size: 23px;
    color: #115B57;
}
.navLinks{
    justify-content: space-around;
    width: 50%;
    display: flex;
}
.navLinks a{
    background:linear-gradient(to left, #737e81, #1F3333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 22px;
    font-family: Arial;
}
.navLinks a:hover{
    color: #3C3C3C;
}

/*BURGER OF NAVIGATION*/
.menu-icon{
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
}
.menu-icon a{
    color: #115B57;
}

.textLogo img{
    width: 10%;
    height: 70%;
    border-radius: 90%;
}

/*Burger links*/
.menu-links{
    height: 100%;
    width: 0;
    overflow-x:hidden;
    background-color: #495C5A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease;
    position: fixed;
}
.menuUl{
    margin-top: 70px;
    padding: 10px;
}
.menuUl li{
    padding: 15px 30px;
    border-bottom: 1px solid white;
    list-style-type: none;
}
.menuUl a{
    text-decoration: none;
    font-size: 22px;
    color: #C2C2C2;
    text-align: center;
}

.exit{
    float: right;
    margin: 2px 10px 20px 0;
    font-size: 40px;
    font-weight: lighter;
    color: #C2C2C2;
    cursor: pointer;
}
.exit:hover{
    color: cadetblue;
}


/*SECTION 1 - DESIGN UI*/
.PageA{
    height: 100vh;
    background-color: #ffffff;
    display: flex;
}
.left-home{
    flex: 1;
    margin: auto;
}
.right-logo{
    flex: 1;
}
.title-page{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#logoTitle{
    font-size: 100px;
    background:linear-gradient(to left, #2c494e, #98a7a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logoDesc{
    font-size: 25px;
    background:linear-gradient(to left, #2c494e, #98a7a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify center;
}
.pay, .more{
    width: 50%;
    padding: 10px;
    font-size: 22px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.more{
    border: 1px solid #1F3333;
    cursor: pointer;
}

.pay{
    background-color: #495C5A;
    color: #AFAFAF;
    margin-bottom: 10px;
    cursor: pointer;
}
.right-logo img{
    width: 80%;
    height: 80%;
}
.right-logo{
    margin: auto;
}





/*Media query of the nav bar*/
@media (max-width: 700px){
    .navLinks{
        display: none;
    }
    .textLogo img{
        position: absolute;
        right: 20px;
        top: 0px;
        margin-top: 5px;
    }
    .menu-icon{
        display: block;
    }
    .pay{
        margin-bottom: 5px;
        width: 100%;
    }
    .more{
        width: 100%;
        margin-bottom: 30px;
    }
    .pay, .more{
        padding: 5px;
    }
    #logoTitle{
        font-size: 80px;
    }
    #logoDesc{
        font-size: 15px;
    }
    .PageA{
        flex-direction: column;
        padding-top: 70px;
    }
    .right-logo img{
        margin-left: 50px;
    }
}
@media (min-width:700px){
    .menu-links{
        display: none;
    }
}


/*smooth scroll*/
html{
    scroll-behavior: smooth;
}