*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navigationOfRecords{
    background-color: cadetblue;
    height: 60px;
    width: 100%;
}
.navi{
    display: flex;
    position: fixed;
    height: 60px;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 1px 15px grey;
}
.reclogo{
        display: flex;
        height: 55px;
        align-items: center;
        font-size: 23px;
        color: #115B57;
}
.homie{
    color: #1F3333;
}

/*TABLE DESIGN*/
table{
    border-collapse: collapse;
    width: 100%;
    text-align: justify;
    margin: 50px 0;
}
th{
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
}
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }