/*SECTION 2*/
.second-section{
    min-height: 90vh;
    background-color: #ffffff;
    padding: 20px;
}
.second-section h1{
    font-size: 60px;
    background:linear-gradient(to left, #737e81, #1F3333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.top-services, .bttm-services{
    display: flex;
}
.top-services > div{
    padding: 10px 60px; 

}

.bttm-services > div{
    padding: 10px 60px; 

}
.S1{
    flex: 1;

}
.S1 img{
    width: 100%;
}
.S2{
    flex: 1;
}
.S2 img{
    width: 100%;
}
.S3{
    flex: 1;
}
.S3 img{
    width: 100%;
}
.S4{
    flex: 1;

}
.S4 img{
    width: 100%;
}
.top-services p{
    text-align: center;
    color: #115B57;
    font-size: 20px;
    font-weight: lighter;
}
.bttm-services p{
    text-align: center;
    color: #115B57;
    font-size: 20px;
    font-weight: lighter;
}


@media (max-width: 700px){
    .second-section{
        flex-direction: column;
        
    }
    .top-services, .bttm-services{
        flex-direction: column;
        padding: 5px; 
        margin: 0;
    }
    .second-section{
        padding: 10px;
    }
    .top-services > div{
        padding: 0px; 
        margin: 0px;
    }
    .bttm-services > div{
        padding: 0px; 
        margin: 0px;
    }
    .top-services p{
        padding: 10px 0;
    }
    .bttm-services p{
        padding: 10px 0;
    }
    #serv{
        margin-top: 50px;
    }

}