/*SECTION */
.third-section{
    height: 100vh;
    background-color: #C2C2C2;
    display: flex;
}
.desc-left{
    flex: 1;
    background: linear-gradient(to left, #3C3C3C, #C2C2C2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 35px;
    text-align: center;
    padding: 250px 50px;
}
.contact-right{
    flex: 1.5;
    background-color: #3C3C3C;
    border-radius: 300px 0 0 300px;
}
.formC{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    color: #C2C2C2;
    padding: 30px;
}
input[type=text], input[type=email]{
    width: 100%;
    padding: 7px 10px;
    border: #C2C2C2 1px solid;
    outline: none;
    background-color: #3C3C3C;
    font-size: 15px;
    color: #C2C2C2;
    margin: 10px 0;
}

#textareaField{
    width: 100%;
    background-color: #3C3C3C;
    border: #C2C2C2 1px solid;
    outline: none;
    font-size: 15px;
    color: #C2C2C2;
    margin: 10px 0;
    padding: 7px 10px;
}
.contSub{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #C2C2C2;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 700px){
    .third-section{
        flex-direction: column;
    }
    .desc-left{
        padding: 20px 50px 1px 50px;
        background-color: rgb(3, 15, 15);
        font-size: 25px;
    }
    .formC{
        width: 70%;
        margin: auto;
        margin-top: 1px;
        color: #3C3C3C;
    }
    .contact-right{
        flex: 1.5;
        background-color: #C2C2C2;
        border-radius: 300px 0 0 300px;
    }
    #textareaField{
        width: 100%;
        background-color: #C2C2C2;
        border:  #3C3C3C 1px solid;
    }
    input[type=text], input[type=email]{
        background-color: #C2C2C2;
        border:  #3C3C3C 1px solid;
        color: #3C3C3C;
    }
    .contSub{
        background-color: #3C3C3C;
        color: #C2C2C2;
    }
}