/*SECTION */
.third-section{
    min-height: 50vh;
    background-color: #ffffff;
    display: flex;
    padding: 50px 75px 0px 75px;
}
.about-left{
    flex: 1;
}

.about-right{
    flex: 1;
    margin: auto;
}
.about-right img{
    float: right;
    width: 100%;
}
#boutitle{
    font-size: 60px;
    background:linear-gradient(to left, #737e81, #1F3333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#boutdesc{
    color: #115B57;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
}
.learnBtn{
    padding: 10px 30px;
    margin: 20px 0;
    background-color: #495C5A;
    color: #AFAFAF;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 700px){
    .third-section{
        flex-direction: column;
        padding: 50px 20px 0 20px;
    }
    #boutdesc{
        font-size: 18px;
    }

}